@font-face {
    font-family: 'Topaz a600a1200a400';
    src: local('Topaz a600a1200a400'), url("../font/Topaz_a1200_v1.0.ttf") format('truetype');
}
body {
    background: rgba(0, 0, 0, 0);
    font-family: 'Topaz a600a1200a400';
    font-size: 16px;
    margin: 0;
    padding: 0;
    /* height: 1079px;
    width: 1920px; */
}

.ScreenTitle {
    border-bottom: 2px solid black;
    background-color: white;
    padding-left: 22px;
    background-image: url("../images/ScreenSwitchGadget.gif"), url("../images/boingball.gif");
    background-position: top right, top left;
    background-repeat: no-repeat, no-repeat;
    height: 19px;
	line-height: 20px;
}
.Window {
    background-image: url("../images/Inactive/InactiveWindowFrameBottomLeft.gif"), url("../images/Inactive/InactiveWindowSizeAndScrollGadgets.gif"), url("../images/Inactive/InactiveWindowTitleBarSizingGadgets.gif"), url("../images/Inactive/InactiveWindowTitleBarCloseGadget.gif"), url("../images/Inactive/InactiveWindowTitleBarBackground.gif"), url("../images/Inactive/InactiveWindowFrameRightSide.gif"), url("../images/Inactive/InactiveWindowFrameBottomBar.gif"), url("../images/Inactive/InactiveWindowFrameLeft.gif");
    background-position: bottom left, bottom right, top right, top left, top left, top right, bottom left, bottom left;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-y, repeat-x, repeat-y;
    padding: 24px 36px 15px 10px;
    background-color: #aaa;
	position: relative;
}
.Window.Active {
	background-image: url("../images/Active/WindowFrameBottomLeft.gif"), url("../images/Active/WindowSizeAndScrollGadgets.gif"), url("../images/Active/WindowTitleBarSizingGadgets.gif"), url("../images/Active/WindowTitleBarCloseGadget.gif"), url("../images/Active/WindowTitleBarBackground.gif"), url("../images/Active/WindowFrameRightSide.gif"), url("../images/Active/WindowFrameBottomBar.gif"), url("../images/Active/WindowFrameLeft.gif");    
}
.Window header {
    padding-top: 1px;
    color: black;
	position: absolute;
	top: 0px;
	left: 45px;
	width: calc(100% - 45px);
	line-height: 20px;
    /* text-shadow: 2px 2px 0px black; */
}
.Window.Active header {
    color: white;
}
.GameWindow {
    position: absolute;
    top: 21px;
    left: 0px;
    bottom: 164px;
    right: 361px;
    background-color: rgba(0, 0, 0, 0);
}
.AFKWindow {
    position: absolute;
    top: 21px;
    left: 0px;
    bottom: 164px;
    right: 361px;
    background-color: #aaa;
    opacity: 1;
    transition: bottom ease 2s, right ease 2s, opacity 0.1s linear;
    min-width: 160px;
    min-height: 60px;
}
.AFKImage {
    width: 100%;
    height: calc(100% - 102px);
    background-image: url("../images/insertdisk.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #441144;
	overflow: hidden;
    margin: 0;
    padding: 0;
	padding-top: 100px;
	text-align: center;
	font-size: 6em;
	color: white;
}
.ChatWindow {
    position: absolute;
    right: 0px;
    top: 21px;
    width: 327px;
    bottom: 222px;
    padding: 16px 30px 16px 4px;
    transition: bottom ease 1s;
    z-index: 4;
}
.ChatWindow iframe {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.InfoWindow {
    position: absolute;
    left: 0px;
    right: 361px;
    bottom: 0px;
    height: 125px;
}
.WebcamWindow {
	position: absolute;
	width: 315px;
	height: 183px;
	top: calc(100% - 222px);
	left: calc(100% - 361px);
	/* background-color: rgba(0, 0, 0, 0); */
	background-color: #aaa;
	transition: width ease 2s, height ease 2s, top 2s ease 2s, left 2s ease 2s;
	overflow: hidden;
	background-image: url('../images/WebCamImage.png'), url("../images/Inactive/InactiveWindowFrameBottomLeft.gif"), url("../images/Inactive/InactiveWindowSizeAndScrollGadgets.gif"), url("../images/Inactive/InactiveWindowTitleBarSizingGadgets.gif"), url("../images/Inactive/InactiveWindowTitleBarCloseGadget.gif"), url("../images/Inactive/InactiveWindowTitleBarBackground.gif"), url("../images/Inactive/InactiveWindowFrameRightSide.gif"), url("../images/Inactive/InactiveWindowFrameBottomBar.gif"), url("../images/Inactive/InactiveWindowFrameLeft.gif");
    background-position: center center, bottom left, bottom right, top right, top left, top left, top right, bottom left, bottom left;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-y, repeat-x, repeat-y;
}
.WebcamWindow.Active {
	background-image: url('../images/WebCamImage.png'), url("../images/Active/WindowFrameBottomLeft.gif"), url("../images/Active/WindowSizeAndScrollGadgets.gif"), url("../images/Active/WindowTitleBarSizingGadgets.gif"), url("../images/Active/WindowTitleBarCloseGadget.gif"), url("../images/Active/WindowTitleBarBackground.gif"), url("../images/Active/WindowFrameRightSide.gif"), url("../images/Active/WindowFrameBottomBar.gif"), url("../images/Active/WindowFrameLeft.gif");    
}
.WebcamWindow header {
	margin-bottom: 3px;
}
.WebcamWindow.Booth {
	top: 21px;
	left: 0px;
	width: calc(100% - 407px);
	height: calc(100% - 224px);
	transition: width 2s ease 2s, height 2s ease 2s, top ease 2s, left ease 2s;
}
.countdownHolder {
    position: absolute;
    right: 48px;
    top: 0px;
}
.InfoWindow fieldset {
    float: left;
    text-align: center;
}
.CounterContainer {
    position: absolute;
    bottom: 22px;
    left: 8px;
    width: 1514px;
	z-index: 100;
}
.InfoLine {
    font-size: 200%;
    margin-top: 5px;
}
.EmptyFieldset {
    width: 33%;
    height: 35px;
	overflow: hidden;
}
fieldset {
    border-width: 4px;
    height: 35px;
    font-size: 200%;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 18px;
    padding-top: 4px;
}
fieldset legend {
    text-shadow: 2px 2px 0px black;
    color: white;
    font-size: 50%;
	z-index: 10;
	padding-top: 4px;
	padding-bottom: 4px;
}
#alert {
    position: absolute;
    top: -41px;
    left: 0px;
    width: 100%;
    height: 37px;
    text-align: center;
    animation-duration: 2s;
    transition: top ease 2s;
    z-index: 5;
    font-size: 200%;
    text-shadow: 2px 2px 0 #000;
    color: #ffffff;
    padding-top: 4px;
}
#alert.visible {
    top: 0px;
}
#alert.follow {
    background-color: blue;
    color: white;
}
#alert.donation {
    background-color: yellow;
    color: black;
    text-shadow: none;
}
#alert.error {
	background-color: red;
	color: white;
}
fieldset marquee {
    margin: 0;
    padding: 0;
}
.AFKWindow.Hidden {
    bottom: 1080px;
    right: 1920px;
    opacity: 0;
    transition: bottom ease 2s, right ease 2s, opacity 0.1s linear 2s;
}
.WebcamWindow video {
    opacity: 1;
    transition: opacity 2s ease;
	height: calc(100% - 3px);
	margin: auto;
}
.WebcamWindow.noWebcam video {
    opacity: 0;
}
.progressLine {
	position: relative;
	display: block;
	z-index: 1;
}
progress {
	height: 18px;
	position: relative;
	width: 100%;
	display: block;
}
label[for="progressBar"] {
	position: relative;
	left: 0px;
	height: 1em;
	display: block;
	margin-top: -16px;
	width: 100%;
	text-align: center;
}
/*
    body.noWebcam .ChatWindow {
    bottom: 0px;
}
*/