@font-face {
    font-family: 'Topaz a600a1200a400';
    src: local('Topaz a600a1200a400'), url("Topaz_a1200_v1.0.ttf") format('truetype');
}
body {
    background: rgba(0, 0, 0, 0);
    font-family: 'Topaz a600a1200a400';
    font-size: 16px;
    margin: 0;
    padding: 0;
    /* height: 1079px;
    width: 1920px; */
}
#bug {
    background-image: url('bug.png');
}
#death {
    background-image: url('death.png');
}
#flunge {
    background-image: url('flunge.png');
}
#tilt {
    background-image: url('tilt.png');
}
.ScreenTitle {
    border-bottom: 2px solid black;
    background-color: white;
    padding-left: 22px;
    background-image: url("../images/ScreenSwitchGadget.gif"), url("../images/boingball.gif");
    background-position: top right, top left;
    background-repeat: no-repeat, no-repeat;
    height: 19px;
}
.Window {
    background-image: url("../images/Active/WindowFrameBottomLeft.gif"), url("../images/Active/WindowSizeAndScrollGadgets.gif"), url("../images/Active/WindowTitleBarSizingGadgets.gif"), url("../images/Active/WindowTitleBarCloseGadget.gif"), url("../images/Active/WindowTitleBarBackground.gif"), url("../images/Active/WindowFrameRightSide.gif"), url("../images/Active/WindowFrameBottomBar.gif"), url("../images/Active/WindowFrameLeft.gif");
    background-position: bottom left, bottom right, top right, top left, top left, top right, bottom left, bottom left;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-y, repeat-x, repeat-y;
    padding: 24px 36px 15px 8px;
    background-color: #aaa;
}
.Window.Inactive {
    background-image: url("../images/Inactive/InactiveWindowFrameBottomLeft.gif"), url("../images/Inactive/InactiveWindowSizeAndScrollGadgets.gif"), url("../images/Inactive/InactiveWindowTitleBarSizingGadgets.gif"), url("../images/Inactive/InactiveWindowTitleBarCloseGadget.gif"), url("../images/Inactive/InactiveWindowTitleBarBackground.gif"), url("../images/Inactive/InactiveWindowFrameRightSide.gif"), url("../images/Inactive/InactiveWindowFrameBottomBar.gif"), url("../images/Inactive/InactiveWindowFrameLeft.gif");
}
.Window header {
    margin-top: -22px;
    padding-left: 35px;
    padding-top: 1px;
    color: white;
    /* text-shadow: 2px 2px 0px black; */
}
.Window.Inactive header {
    color: black;
}
.GameWindow {
    position: absolute;
    top: 21px;
    left: 0px;
    bottom: 164px;
    right: 361px;
    background-color: rgba(0, 0, 0, 0);
}
.AFKWindow {
    position: absolute;
    top: 21px;
    left: 0px;
    bottom: 164px;
    right: 361px;
    background-color: #aaa;
    opacity: 1;
    transition: bottom ease 2s, right ease 2s, opacity 0.1s linear;
    min-width: 160px;
    min-height: 60px;
}
.AFKImage {
    width: 100%;
    height: 100%;
    background-image: url("../images/insertdisk.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #441144;
    margin: 0;
    padding: 0;
}
.ChatWindow {
    position: absolute;
    right: 0px;
    top: 21px;
    width: 327px;
    bottom: 222px;
    padding: 12px 30px 18px 4px;
    transition: bottom ease 1s;
    z-index: 4;
}
.ChatWindow header {
    margin-top: -9px;
    padding-left: 39px;
    height: 12px;
}
.ChatWindow iframe {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.InfoWindow {
    position: absolute;
    left: 0px;
    right: 361px;
    bottom: 0px;
    height: 125px;
}
.WebcamWindow {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 317px;
    height: 183px;
    background-color: rgba(0, 0, 0, 0);
}
.countdownHolder {
    position: absolute;
    right: 48px;
    top: 0px;
}
.InfoWindow fieldset {
    float: left;
    text-align: center;
}
.CounterContainer {
    position: absolute;
    bottom: 22px;
    left: 8px;
    width: 1514px;
}
.InfoLine {
    font-size: 200%;
    margin-top: 5px;
}
.EmptyFieldset {
    width: 33%;
    height: 35px;
}
body.noWebcam .ChatWindow {
    bottom: 0px;
}
fieldset {
    border-width: 4px;
    height: 35px;
    font-size: 200%;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 12px;
    padding-top: 4px;
}
fieldset legend {
    text-shadow: 2px 2px 0px black;
    color: white;
    font-size: 50%;
}
#follower-alert {
    position: absolute;
    top: -41px;
    left: 0px;
    width: 100%;
    height: 37px;
    text-align: center;
    animation-duration: 2s;
    background-color: red;
    transition: top ease 2s;
    z-index: 5;
    font-size: 200%;
    text-shadow: 2px 2px 0 #000;
    color: #ffffff;
    padding-top: 4px;
}
fieldset marquee {
    margin: 0;
    padding: 0;
}
#follower-alert.visible {
    top: 0px;
}
.AFKWindow.Hidden {
    bottom: 1080px;
    right: 1920px;
    opacity: 0;
    transition: bottom ease 2s, right ease 2s, opacity 0.1s linear 2s;
}